@import "tailwindcss";

body{
   margin: 0 ;
   padding: 0;
   font-family: 'sans-serif';
   height:100%;
   background-color: #01aa8529;

}
html, body {
  overflow: hidden; /* This kills the outer scrollbar */
}

#root {
  height: 100%;
}
.background-image{
   background-image: url('./assets/background.png');
    background-size:100%;
   background-position: center;
   height: 100vh;
}
.custom-scrollbar{
   overflow: scroll;
}
.custom-scrollbar::-webkit-scrollbar {
   width: 0;
}
.Toastify__toast {
  font-size: 14px;
  font-weight: 500;
  font-family: 'sans-serif';
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}