@import "tailwindcss";

body{
   margin: 0 ;
   padding: 0;
   font-family: 'Jost';
   height:100%;
   background-color: #01aa8529;

}
.background-image{
   background-image: url('./assets/background.png');
    background-size:100%;
   background-position: center;
   height: 100vh;
}
.custom-scrollbar{
   overflow: scroll;
}
.custom-scrollbar::-webkit-scrollbar {
   width: 0;
}